   <div id="loansDiv" class="container my-5">
    <div id="app">
      <div class="row mb-5">
        <h5 class="col-12 mb-4 text-white">How much capital are you looking for?</h5>
        <div class="col-12">
          <div class="row align-items-center mb-4">
            <div class="col-12 col-sm-4">
              <div class="fg">
                <select name="currency" id="currency" (change)="setCurrency($event)" class="text-white">
                  <option value="EUR" [selected]="currency === 'EUR'">EUR</option>
                </select>
                <div id="amount">
                    {{ formatter(amount) }}
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8">
              <div class="length range__slider">
                <input 
                       class="slider" 
                       name="amount"
                       type="range" 
                       min="20000" 
                       max="1000000" 
                       step="20000" 
                       value="20000"
                       [(ngModel)]="amount"
                       (input)="setAmount($event)" />
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <h5 class="col-12 text-white">Over what payback period?</h5>
      </div>
      
      <div class="row mb-5">
        <div class="col-12">
            <div class="length range__slider">
                <input 
                       class="slider" 
                       name="period"
                       type="range" 
                       min="12" 
                       max="60" 
                       step="6"
                       value="12"
                       [(ngModel)]="period"
                       (input)="setPeriod($event)" />
              
              </div>
            <div id="period" class="text-center color-accent">
                {{ period }} months
            </div>
        </div>
      </div>
      
      <div class="row mb-4">
        <h5 class="col-12 text-white">
          Assumed risk rating?
        </h5>
      </div>
      
       <div id="levels" class="row mb-4">
            <div *ngFor="let riskLevel of riskLevels; let i = index" class="col-2">
              <div 
                [class.selected]="risk === riskLevel" 
                class="rating" 
                (click)="setRiskLevel(i)">
                {{ i + 1 }}
              </div>
            </div>
        </div>
      
      <div class="row risk-info mb-5">
        <div class="col-2 text-center text-white">LOW</div>
        <div class="col-8">
          <div class="arrow-line mt-2">
            <div class="arrow-top"></div>
          </div>
        </div>
        <div class="col-2 text-center text-white">HIGH</div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-7 text-center">
          <div class="report">
            <h5>
              Indicative monthly cost
            </h5>
            <h2 id="total" class="color-accent strong">{{ total }}</h2>
            <div class="row info">
              <div id="nominal" class="col-12 text-center">
                {{ (risk.from * 100).toFixed(1) }}% - {{ (risk.to * 100).toFixed(1) }}%
              </div>
  
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 mt-3 mt-md-0">
          <a class="apply" data-bs-toggle="modal"  data-bs-target="#loanInsert">
              <div class="info">
                Richiedi ora il tuo prestito personale presso la nostra banca, vi saranno commissioni.
              </div>
              <div id="test">APPLY NOW</div>          
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
          </a>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal inserimento finanziamento-->
<div class="modal fade" id="loanInsert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Destinazione finanziamento</h1>
      </div>
      <div class="modal-body">
        <h5 class="col-12">Il finanziamento verrá errogato instantaneamente. <br>
          di seguito il riepilogo delle tue scelte:</h5>


        <table class="table">
          <thead>
            <tr>
              <th scope="col">Importo</th>
              <th scope="col">Tot mesi</th>
              <th scope="col">Costo mensile</th>
              <th scope="col">Tasso interesse</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light">
              <th scope="row">{{amount}}</th>
              <td>{{period}}</td>
              <td>{{total}}</td>
              <td>{{ (risk.from * 100).toFixed(1) }}%</td>

            </tr>

          </tbody>
        </table>

        <h5 class="col-12">Seleziona la carta dove vuoi accreditare il finanziamento:</h5>

        <div class="inputGroup">
          <select class="form-select" aria-label="Default select example" [(ngModel)]="cardType" name="card">
            <option selected>Carta</option>
            <option value="DEBIT">DEBIT</option>
            <option value="PREPAID">PREPAID</option>
            <option value="VIRTUAL">VIRTUAL</option>
          </select>
        </div>

        <h5 class="col-12">E' possibile richiedere solo un finanziamento alla volta presso la nostra banca, una volta sottoscritto il finanziamento 
          la pagina di richiesta sparira, e apparira la nuova pagina per la gestione del finanziamento!
        </h5>

        <h5 class="col-12">Grazie per averci scelto! la banca che aiuta sempre
        </h5>
      </div>
      <div class="modal-footer">
        <button (click)="insertLoan()">Richiedi ora</button>
      </div>
    </div>
  </div>
</div>