<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Carta</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Importo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">10/01/2025</th>
        <td>Debito</td>
        <td>Nike</td>
        <td>20$</td>
      </tr>
      <tr>
        <th scope="row">01/02/2025</th>
        <td>Virtuale</td>
        <td>Adidas</td>
        <td>60$</td>
      </tr>
      <tr>
        <th scope="row">02/03/2025</th>
        <td>Prepagata</td>
        <td>KFC</td>
        <td>10$</td>
      </tr>
      <tr>
        <th scope="row">10/01/2025</th>
        <td>Debito</td>
        <td>Nike</td>
        <td>20$</td>
      </tr>
      <tr>
        <th scope="row">01/02/2025</th>
        <td>Virtuale</td>
        <td>Adidas</td>
        <td>60$</td>
      </tr>
      <tr>
        <th scope="row">02/03/2025</th>
        <td>Prepagata</td>
        <td>KFC</td>
        <td>10$</td>
      </tr>
      <tr>
        <th scope="row">10/01/2025</th>
        <td>Debito</td>
        <td>Nike</td>
        <td>20$</td>
      </tr>
      <tr>
        <th scope="row">01/02/2025</th>
        <td>Virtuale</td>
        <td>Adidas</td>
        <td>60$</td>
      </tr>
      <tr>
        <th scope="row">02/03/2025</th>
        <td>Prepagata</td>
        <td>KFC</td>
        <td>10$</td>
      </tr>
      <tr>
        <th scope="row">10/01/2025</th>
        <td>Debito</td>
        <td>Nike</td>
        <td>20$</td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col-sm">
            <app-button-transaction [label]="'+ Transazione'"></app-button-transaction>
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <app-button-transaction [label]="'- Transazione'"></app-button-transaction>
      </div>
    </div>
  </div>