<div class="container">
  <div class="main-content">
    <h2>Banking news</h2>

    @if (newsList.length > 0) {
      @for (news of newsList; track news.id) {
        <a href="#">
          <div class="article">
            <img src="{{ news.imgUrl }}" alt="Berita 1" />
            <div class="text">
              <h3>{{ news.title }}</h3>
              <p>{{ news.content  }}</p>
            </div>
          </div>
        </a>
      }
    } @else {
      <p>Nessuna notizia disponibile.</p>
    }
  </div>
</div>
