/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Imposta l'altezza a 100% della finestra */
    display: flex;
    justify-content: center;  /* Centra orizzontalmente */
    align-items: center;  /* Centra verticalmente */
    background-color: #2e3537 !important; /* Dark background */
    overflow: hidden;
  }

  .wrapper {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height */
}

.bubble {
    position: absolute;
    bottom: -100px; /* Start below the viewport */
    background: rgba(255, 255, 255, 0.6); /* Bubble color */
    border-radius: 50%; /* Make it round */
    animation: rise 10s infinite; /* Animation properties */
}

/* Varying sizes for bubbles */
.bubble:nth-child(1) { width: 40px; height: 40px; left: 10%; animation-delay: 0s; }
.bubble:nth-child(2) { width: 60px; height: 60px; left: 30%; animation-delay: 1s; }
.bubble:nth-child(3) { width: 50px; height: 50px; left: 50%; animation-delay: 2s; }
.bubble:nth-child(4) { width: 70px; height: 70px; left: 70%; animation-delay: 3s; }
.bubble:nth-child(5) { width: 30px; height: 30px; left: 20%; animation-delay: 4s; }
.bubble:nth-child(6) { width: 80px; height: 80px; left: 40%; animation-delay: 5s; }
.bubble:nth-child(7) { width: 20px; height: 20px; left: 60%; animation-delay: 6s; }
.bubble:nth-child(8) { width: 90px; height: 90px; left: 80%; animation-delay: 7s; }
.bubble:nth-child(9) { width: 50px; height: 50px; left: 15%; animation-delay: 8s; }
.bubble:nth-child(10) { width: 60px; height: 60px; left: 85%; animation-delay: 9s; }

@keyframes rise {
    to {
        transform: translateY(-100vh); /* Move up out of view */
        opacity: 0; /* Fade out */
    }
}
  
  app-root {
    width: 100vh;
    height: 100vh;
  }

  app-login {
    display: inline-block;
    height: 100vh;
    width: 100vh;
  }


  body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #2e3537; /* Sfondo scuro */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box {
    position: relative;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1); /* Sfondo trasparente */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); /* Effetto vetro */
    text-align: center;
}
  