<div class="row" style="height: 100vh">
  <div class="col" style="padding-top: 5%">
    <div class="row py-5">
      <div class="col center-elem-col">
        <app-tool-tip [ammount]="'1000'" [card]="'Carta di debito'"></app-tool-tip>
      </div>
      <div class="col" style="text-align: -webkit-left">
        <app-card-bank [diffStyle]="'flip-card-front'"></app-card-bank>
      </div>
    </div>
    <div class="row py-5">
      <div class="col center-elem-col">
        <app-tool-tip [ammount]="'3500'" [card]="'Carta prepagata'"></app-tool-tip>
      </div>
      <div class="col" style="text-align: -webkit-left">
        <app-card-bank [diffStyle]="'flip-card-front-1'"></app-card-bank>
      </div>
    </div>
    <div class="row py-5">
      <div class="col center-elem-col">
        <app-tool-tip [ammount]="'5000'" [card]="'Carta virtuale'"></app-tool-tip>
      </div>
      <div class="col" style="text-align: -webkit-left">
        <app-card-bank [diffStyle]="'flip-card-front-2'"></app-card-bank>
      </div>
    </div>
  </div>
  <div class="col">One of three columns</div>
  <div class="col" style="text-align: -webkit-center; padding-top: 5%"></div>
</div>
