.center-elem-col {
  text-align: -webkit-center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element-news {
  text-align: -webkit-center;
  align-self: center;
  padding-bottom: 15.5%;
}

.element-transaction {
  text-align: -webkit-center;
  align-self: center;
  padding-bottom: 15%;
}

#rowMalefica {
  max-width: 100%;
}
