.center-elem-col {
  text-align: -webkit-center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element-news { 
  padding-right: 2%; 
  text-align: -webkit-center; 
  align-self: center; 
  padding-bottom: 15.5%;
}

.element-transaction { 
  padding-right: 2%; 
  text-align: -webkit-center; 
  align-self: center; 
  padding-bottom: 15%;
}