<div class="row p-3" id="rowMalefica">
  <div class="col-12">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col center-elem-col">
            <app-card-bank [diffStyle]="'flip-card-front'"></app-card-bank>
          </div>
          <div class="w-100"></div>
          <div class="col center-elem-col p-3">
            <app-tool-tip
              [ammount]="user?.cards[0]?.balance"
              [card]="'Carta di debito'"
            ></app-tool-tip>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col center-elem-col">
            <app-card-bank [diffStyle]="'flip-card-front-2'"></app-card-bank>
          </div>

          <div class="w-100"></div>

          <div class="col center-elem-col py-3">
            <app-tool-tip
              [ammount]="user?.cards[2]?.balance"
              [card]="'Carta prepagata'"
            ></app-tool-tip>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col center-elem-col">
            <app-card-bank [diffStyle]="'flip-card-front-1'"></app-card-bank>
          </div>

          <div class="w-100"></div>

          <div class="col center-elem-col py-3">
            <app-tool-tip
              [ammount]="user?.cards[1]?.balance"
              [card]="'Carta virtuale'"
            ></app-tool-tip>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 m-0">
    <app-transaction
      *ngIf="transactionsLoaded"
      [transactions]="transactions"
    ></app-transaction>
  </div>
  <div class="row my-4">
    <div class="col-6">
      <app-chart-expenses
        *ngIf="transactionsLoaded"
        [transactions]="transactions"
      >
      </app-chart-expenses>
    </div>
    <div class="col-6">
      <app-news></app-news>
    </div>
  </div>
</div>
